<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<center><b> {{int_carinfo}} </b></center>
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
<!-- table unit status -->	
			<div class="panel panel-default">
                <div class="panel-heading">
                       <center>      Status : </center>
                </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
       
                                    <tbody>
                                        <tr class="success">
                                         <td><center> Unit ID</center> </td>
                                         <td><center>{{gieflist[0]}}</center></td>
                                        </tr>
                                        <tr class="info">
                                         <td><center> {{gieflist[1]}}</center> </td>
                                         <td><center>{{gieflist[2]}}</center></td>
                                        </tr>
                                        <tr class="warning">
                                            <td><center> Date</center> </td>
                                            <td><center> {{gieflist[3]}}</center> </td>
                                        </tr>
                                        <tr class="danger">
                                            <td><center> Time</td>
                                            <td><center> {{gieflist[4]}}</center> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div></center>
                            <!-- /.table-responsive -->
                        </div>
						
                        <!-- /.panel-body -->
            </div>
		<div class="panel panel-white">
		<!-- google maps for flask https://pypi.python.org/pypi/Flask-GoogleMaps -->
		<center> Last Know Position
			<center>
		{{ googlemap("my_awesome_map",
		lat= gieflist[12], lng=gieflist[13],
		style="height:400px;width:800px",
		markers=[(gieflist[12], gieflist[13]),
																													]) }}
			</center>
	
		</div> 



<!-- table unit location -->	
			
			<div class="panel panel-default">
                <div class="panel-heading">
                       <center>      Location : </center>
                </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
       
                                    <tbody>
                                        <tr class="success">
                                         <td><center> X Axis RD</center> </td>
                                         <td><center>{{gieflist[5]}}</center></td>
                                        </tr>
                                        <tr class="info">
                                         <td><center> Y Axis RD</center> </td>
                                         <td><center>{{gieflist[6]}}</center></td>
                                        </tr>
                                        <tr class="warning">
                                            <td><center> X Axis WGS</center> </td>
                                            <td><center> {{gieflist[12]}}</center> </td>
                                        </tr>
                                        <tr class="danger">
                                            <td><center> Y Axis WGS</td>
                                            <td><center> {{gieflist[13]}}°</center> </td>
                                        </tr>
									    <tr class="success">
                                         <td><center> Speed </center> </td>
                                         <td><center>{{gieflist[7]}}</center></td>
                                        </tr>
                                        <tr class="info">
                                         <td><center> Course</center> </td>
                                         <td><center>{{gieflist[8]}}</center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div></center>
                            <!-- /.table-responsive -->
                        </div>
						
                        <!-- /.panel-body -->
            </div>
                    <!-- /.panel -->
					
<!-- table unit tracking -->	

<div class="panel panel-default">
                <div class="panel-heading">
                       <center>      Current Tracking Information : </center>
                </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
       
                                    <tbody>
                                        <tr class="success">
                                         <td><center> Satalites Tracking Unit </center> </td>
                                         <td><center>{{gieflist[9]}}</center></td>
                                        </tr>
                                        <tr class="info">
                                         <td><center> Hdop </center> </td>
                                         <td><center>{{gieflist[10]}}</center></td>
                                        </tr>
                                        <tr class="warning">
                                            <td><center> Quality</center> </td>
                                            <td><center> {{gieflist[11]}}</center> </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div></center>
                            <!-- /.table-responsive -->
                        </div>
						<!----------------------------->
					<div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> GPS Coverage Unit
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Show All Connections</a>
                                </li>
                                <li><a href="#">Show Good Connections</a>
                                </li>
                                <li><a href="#">Show Decent Connections</a>
                                </li>
							     <li><a href="#">Show Bad Connections</a>
                                </li>

                            </ul>
                        </div>
                    </div>
										
									<center> Known Locations
		{{ googlemap("GPSActivity",
		lat= gieflist[12],
		lng=gieflist[13],
		zoom = 9,
		style="height:400px;width:800px",
		markers=trackinghistory_list) }}
			</center>
                </div>
						<!------------------------------->
						

                        <!-- /.panel-body -->
            </div>
                    <!-- /.panel -->
	
					
							
							<!-- /.col-lg-6 -->
							</div>
						<!-- /.row -->
						</div>
					<!-- /#page-wrapper -->

					</div>						
                <!-- /.col-lg-6 -->
				</div>
            <!-- /.row -->
			</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block pagescript %}

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael-min.js"></script>
	<!-- Google JavaScript -->
   <script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<!-- Lazy refresh force -->
	<script>
	/*	setTimeout(function(){
			window.location.reload(1);
		}, 12000); 

		openNewWindow = function()
		{
		window.location.replace('carinfo.html');
		};


		// refresh every 6000ms  */
	</script>
{% endblock %}